<a href="https://colab.research.google.com/github/Hangelinika/Hangelinika/blob/main/Hana_Optimizing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier, export_text
from sklearn.model_selection import train_test_split

In [7]:
df = pd.read_excel("CASE STUDY - data.xlsx")

In [37]:
df.head()

,CODE_ZIP,AMT_NET_INCOME,AMT_REQUESTED_TICKET,TEXT_BANK,NUM_AGE,TEXT_GENDER,NFLAG_MOBILEDEVICE,CODE_IP_1,NUM_LEVEN_EMAIL,NFLAG_EMAIL_NUMERAL,CNT_REJECTED,NUM_DAYS_CREDIT_HISTORY,TARGET
0,18100,22000,8000,"Česká spořitelna, a.s.",37,Muž,0,178,40,0,1,450,0
1,79501,28000,10000,"Komerční banka, a.s.",58,Muž,0,85,88,0,1,7100,0
2,69661,10800,1000,"Československá obchodní banka, a.s.",32,Muž,1,131,16,0,1,750,0
3,43111,10000,6000,"Československá obchodní banka, a.s.",24,Žena,1,78,50,1,1,0,0
4,74201,32000,8000,"Česká spořitelna, a.s.",34,Muž,1,109,92,0,1,1950,0

In [38]:
X = df[['CODE_IP_1','AMT_NET_INCOME','AMT_REQUESTED_TICKET','TEXT_BANK','NUM_AGE', 'TEXT_GENDER','CNT_REJECTED','NUM_DAYS_CREDIT_HISTORY']]
Y = df['TARGET']

Zkoumání a popis datového vzorku:
1. Jaký je nejvyšší věk žadatele?

In [39]:
max_age = df['NUM_AGE'].max()
print(max_age)

84

2. Jaký je modus věku žadatele?

In [40]:
mode_age = df['NUM_AGE'].mode()
print(mode_age)

0    20
Name: NUM_AGE, dtype: int64

3. Jaký je průměrný příjem žadatele a jak se liší od průměru v ČR?

In [41]:
average_income = df['AMT_NET_INCOME'].mean()
print(average_income)

27041.529

4.6.2025 Q1
from https://csu.gov.cz/employees-and-wages?pocet=10&start=0&1_pocet=10&1_start=0&skupiny=11&vlastnostiVystupu=15&pouzeVydane=true&razeni=-datumVydani&1_skupiny=11&1_vlastnostiVystupu=12&1_razeni=-datumVydani
average_gross_income_CZ_2025 = 46,924
minus 15 % dan z prijmu minus zdravotni a socialni pojisteni alespon 7%, tj. odecist 22% => average_net_income_CZ_2025 = 36600

Compare with:
2021 net data from WB https://data.worldbank.org/indicator/NY.ADJ.NNTY.PC.CD
XE rate 10th August 2025
averge_net_income_WB_data_2021 = 34,700

In [42]:
average_net_income_CZ_2025 = [36600]

In [43]:
AVG_BANK_INCOME_RELATED_TO_CZ_Income_2025 = average_income/average_net_income_CZ_2025

In [44]:
print(AVG_BANK_INCOME_RELATED_TO_CZ_Income_2025)

[0.73883959]

4. Ve kterých věkových skupinách (18-28, 29- 38, 39-48...) je více mužů než žen

In [46]:
bins = [18, 28, 38, 48, 58, 68, 78, 88]
labels = ['18-28','29-38','39-48', '49-58', '59-68', '69-78', '79-88']

In [49]:
# Create new column with categories
df['AgeCategory'] = pd.cut(df['NUM_AGE'], bins=bins, labels=labels, right=True, include_lowest=True)

In [50]:
print(df)

      CODE_ZIP  AMT_NET_INCOME  AMT_REQUESTED_TICKET  \
0        18100           22000                  8000
1        79501           28000                 10000
2        69661           10800                  1000
3        43111           10000                  6000
4        74201           32000                  8000
...        ...             ...                   ...
4995     74743           13500                 15000
4996     69605           23700                  3000
4997     74706           50000                 15000
4998     28903            6000                  1000
4999     74253           20000                 15000

                                TEXT_BANK  NUM_AGE TEXT_GENDER  \
0                  Česká spořitelna, a.s.       37         Muž
1                    Komerční banka, a.s.       58         Muž
2     Československá obchodní banka, a.s.       32         Muž
3     Československá obchodní banka, a.s.       24        Žena
4                  Česká spořitelna, a.s.       34         Muž
...                                   ...      ...         ...
4995                       Equa bank a.s.       26        Žena
4996                      Fio banka, a.s.       26        Žena
4997                      Fio banka, a.s.       27         Muž
4998              MONETA Money Bank, a.s.       20        Žena
4999              MONETA Money Bank, a.s.       51        Žena

      NFLAG_MOBILEDEVICE  CODE_IP_1  NUM_LEVEN_EMAIL  NFLAG_EMAIL_NUMERAL  \
0                      0        178               40                    0
1                      0         85               88                    0
2                      1        131               16                    0
3                      1         78               50                    1
4                      1        109               92                    0
...                  ...        ...              ...                  ...
4995                   1         37               90                    1
4996                   1         37               93                    0
4997                   0        185               78                    1
4998                   1         37               36                    0
4999                   0        109               40                    0

      CNT_REJECTED  NUM_DAYS_CREDIT_HISTORY  TARGET AgeCategory
0                1                      450       0       29-38
1                1                     7100       0       49-58
2                1                      750       0       29-38
3                1                        0       0       18-28
4                1                     1950       0       29-38
...            ...                      ...     ...         ...
4995             1                      250       0       18-28
4996             1                      700       0       18-28
4997             1                      650       0       18-28
4998             1                        0       0       18-28
4999             1                     6450       0       49-58

[5000 rows x 14 columns]

In [60]:
df_age_category_gender = df('AgeCategory','TEXT_GENDER','CODE_ZIP')
print(df_age_category_gender)

TypeError: 'DataFrame' object is not callable